/*
 * Doesn't seem to work...
 * Currently only works for Linux if the ttf is placed in ~/.fonts or /usr/share/fonts (then reboot your browser)
 * Source: http://www.kirsle.net/blog/kirsle/make-emoji-work-in-linux
 * 
 * TODO: Host it ourselves instead of using the one of the official website of course
 * 
@font-face{
	font-family: 'Symbola';
	src: url('http://users.teilar.gr/~g1951d/Symbola.ttf');
}
.hearts{font-family: 'Symbola'} */

*{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

html, body { 
	height: 100%;
}

body { 
	margin: 0;
	background-color: hsl(0,0%,95%);
}

/* ===== HEADER ===== */

#header{
	padding: 1em;
	background-color: hsl(0,0%,85%);
	background-image: linear-gradient(hsl(0,0%,95%), hsl(0,0%,80%));
	box-shadow: 0 2px 8px hsla(0,0%,0%, 0.25), 
				inset 0 -1px 0px hsla(0,0%,100%, 0.6);
	border-bottom: 1px solid hsla(0,0%,0%, 0.35);
}


#title {
	font-size: 3.5em;
	text-align: center;
	font-family: sans-serif;
}

#status {
	padding: 1em;
	float: left;
	line-height: 2
}

.WIP { 
	color: white;
	text-shadow: 1px 1px black;
	font-weight: bold;
	padding: 0.4em;
	border-radius: 4px;
	background-color: red;
	background-image: linear-gradient(hsl(0,95%, 60%), hsl(0,80%,47%));
	box-shadow: 0 0 1px white;	
}

#extra {
	padding: 1em;
	float: right;
}

/* ===== MAIN CONTAINER ===== */

#catchphrase{
	font-size: 2.5em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

#main{
	padding: 1.5em;
}

section > h2{
	padding: 0.1em 0.2em ;
	border-bottom: 1px solid hsla(0,0%,0%,0.3);
	box-shadow: 0 1px white;
}

/* ===== FOOTER ===== */

#foot{ 
	margin: 1.5em;
}




#descript, #extra { text-align: center }

.clear { clear: both }

#main{ 
	width: 100%;
	color: hsl(0,0%,20%);
	}

#main > tbody > tr { vertical-align: top }
#mainContent { width: 50%; }

#helloWorld { margin-bottom: 1em }

#test { display: block }

#about { }
#about h1 { padding-left: .5em; }
#moto li { font-size: 1.5em; padding-bottom: .5em }
#about p { padding-left: 1em }

#source { float: right }

.lang { font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; }

.heart { color: red }
.love { font-style: italic }



#leftContainer{
	width: 50%;
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#rightContainer{
	border-left: 1.5px solid black;
	width: 50%;
	float: right;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: .3em;
}

@media (max-width: 1000px){
	#leftContainer, #rightContainer{
		float: none;
		width: 100%;
		border: none;
	}
}
